:root {
  --num-squares: 8;
  --square-length: 100px;
  --board-width: calc(var(--num-squares) * var(--square-length));
  --board-height: calc(var(--num-squares) * var(--square-length));
}
body {
  font-family: 'Nunito Sans', sans-serif;
}
div#board {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

table.chessboard {
  border-collapse: collapse;
  border: 2px solid black;
}

.square {
  width: var(--square-length);
  height: var(--square-length);
  display: inline-block; /* defina a propriedade display para inline-block */
  text-align: center;
}

.white {
	background-color: #f0d9b5;
}


.black {
	background-color: #b58863;
}


.piece {
	margin: auto;
	position: relative;
  user-select: none;
  pointer-events: none;
}

.selected {
  background-color: yellow;
}

.possible{
  position: relative;
}

.possible::before{
  content: "";
  position: absolute;
  background-color: yellow;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

nav {
  background: #01022f;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

a.navbar-btn {
  text-decoration: none;
  padding: 24px 48px;
  display: block;
  color: #fafafa;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 18px;
}

.modal-btn {
  text-decoration: none;
  padding: 12px 24px;
  color: #fafafa;
  background-color: #01022f;
  border-radius: 5px;
}

.secondary {
  margin-right: 48px;
  border: 1px solid #01022f;
  color: #01022f;
  background-color: #fafafa;
}
